@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

img {
  width: 100%; }

html {
  font-size: 62.5%; }
  @media (max-width: 600px) {
    html {
      font-size: 50%; } }
  @media (max-width: 1200px) {
    html {
      font-size: 50%; } }
  @media (max-width: 900px) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  height: 100vh;
  background: url(/images/bg-intro-desktop.png) no-repeat center center;
  background-color: #ff7a7a; }

.container {
  display: flex;
  height: 100%; }

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1; }

.heading {
  font-size: 5rem;
  line-height: 1;
  color: #fff;
  margin-bottom: 3rem; }

.sub-heading {
  width: 80%;
  font-size: 1.3rem;
  line-height: 1;
  color: #fff;
  text-align: left;
  line-height: 2; }

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.free-try {
  background-color: #6055a5;
  padding: 2rem;
  width: 80%;
  margin-bottom: 3rem;
  border-radius: 1rem;
  color: #fff;
  text-align: center;
  box-shadow: 0 10px 0px -1px rgba(62, 60, 73, 0.3); }

.form-container {
  padding: 3rem;
  background-color: #fff;
  border-radius: 1rem;
  width: 80%;
  text-align: center;
  box-shadow: 0 10px 0px -1px rgba(62, 60, 73, 0.3); }

.input-box {
  width: 100%;
  height: 5rem;
  border-radius: 0.5rem;
  border: 1px solid #b9b6d3;
  margin-bottom: 2rem;
  padding-left: 3rem; }

.input-box:focus {
  border: 1px solid gray; }

#button-submit {
  width: 100%;
  background-color: #38cc8c;
  border-radius: 1rem;
  height: 5rem;
  border: none;
  color: #fff;
  margin-bottom: 1rem;
  text-transform: uppercase; }

.disclaimer {
  font-size: 0.8rem;
  color: #b9b6d3; }

.terms {
  color: #ff7a7a;
  font-weight: 600; }

.input-field {
  position: relative; }

.error-circle {
  position: absolute;
  width: 3rem;
  top: 11%;
  right: 3rem;
  display: none; }
  @media (max-width: 600px) {
    .error-circle {
      right: 7rem; } }

.error-message {
  color: red;
  font-weight: 400;
  margin-left: 3rem;
  font-size: 1.5rem;
  display: none; }

.form-error {
  border: 2px solid red !important; }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }
