@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

//reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

//variables
$primaryRed: hsl(0, 100%, 74%);
$primaryGreen: hsl(154, 59%, 51%);
$accentBlue: hsl(248, 32%, 49%);
$neutralDarkBlue: hsl(249, 10%, 26%);
$neutralGrayishBlue: hsl(246, 25%, 77%);

//mixins
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  height: 100vh;
  background: url(/images/bg-intro-desktop.png) no-repeat center center;
  background-color: $primaryRed;
}

.container {
  display: flex;
  height: 100%;

  @include respond(phone) {
    flex-direction: column;
  }
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  margin-left: 1rem;

  @include respond(phone) {
    display: block;
    margin-top: 6rem;
    flex: none;
    margin-bottom: 2rem;
  }
  &__heading-container {
    width: 73%;
    padding-left: 4rem;

    @include respond(phone) {
      width: 100%;
      padding-left: 0;
    }
  }

  &__heading {
    font-size: 5rem;
    line-height: 1;
    color: #fff;
    margin-bottom: 3rem;
    text-align: left;

    @include respond(phone) {
      margin-top: 4rem;
      font-size: 3.1rem;
      text-align: center;
      line-height: 1.5;
    }
  }

  &__sub-heading {
    // width: 80%;
    font-size: 1.5rem;
    line-height: 1;
    color: #fff;
    text-align: left;
    line-height: 2;

    @include respond(phone) {
      // margin-top: 4rem;
      // font-size: 3.1rem;
      font-size: 1.8rem;
      text-align: center;
      line-height: 1.7;
      margin-bottom: 1rem;
    }
  }
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -1rem;

  @include respond(phone) {
    align-items: center;
    // margin-bottom: -3rem;
  }
}

.free-try {
  background-color: $accentBlue;
  padding: 2rem;
  width: 77%;
  margin-bottom: 3rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  box-shadow: 0 10px 0px -1px hsla(249, 10%, 26%, 0.3);

  @include respond(phone) {
    width: 90%;
    font-size: 1.9rem;
  }

  &--attention {
    font-weight: 700;
  }
}

.form-container {
  padding: 4rem;
  background-color: #fff;
  border-radius: 1rem;
  width: 77%;
  text-align: center;
  box-shadow: 0 10px 0px -1px hsla(249, 10%, 26%, 0.3);

  @include respond(phone) {
    width: 90%;
    margin-bottom: 3rem;
    padding: 3rem;
  }
}
.input-box {
  width: 100%;
  height: 5.5rem;
  border-radius: 0.5rem;
  border: 1px solid $neutralGrayishBlue;
  margin-bottom: 2.4rem;
  padding-left: 3rem;
}

.input-box:focus {
  border: 1px solid gray;
}

.input-field {
  position: relative;
}

::placeholder {
  font-weight: 600;
}

#button-submit {
  width: 100%;
  background-color: $primaryGreen;
  border-radius: 0.5rem;
  height: 5.5rem;
  border: none;
  color: #fff;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  box-shadow: 0 4px 0px -1px hsla(153, 59%, 26%, 0.6);
}

.disclaimer {
  font-size: 1.1rem;
  color: $neutralGrayishBlue;
}

.terms {
  color: $primaryRed;
  font-weight: 600;
}

.error-circle {
  position: absolute;
  width: 3rem;
  top: 11%;
  right: 3rem;
  display: none;

  @include respond(phone) {
    right: 2rem;
    top: 16%;
  }
}

.error-message {
  color: red;
  font-weight: 400;
  margin-left: 3rem;
  font-size: 1.5rem;
  display: none;
  position: absolute;
  bottom: 5px;
  right: 30px;

  @include respond(phone) {
    display: none;
    bottom: 1px;
    right: 10px;
  }
}

.form-error {
  border: 2px solid red !important;
}

.attribution {
  font-size: 11px;
  text-align: center;

  @include respond(phone) {
    display: none;
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
